.ota1{
    display: flex;
    gap: 30px;
}

.bola1{
text-align: center;
}

.bola2{
    text-align: center;
}

.bola3{
    text-align: center;
}


























































































































































































































































































































































































































































































































































































































































































































































































































































































